body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.screen4-background {
  background-color: #f15a29;
}

.btn-accent-color {
  background-color: #02a5e0;
}

#cadastrar-button {
  height: 3.3rem;
  width: 250px;
  text-align: center;
  border: none;
  align-content: center;
  border-radius: 10px;
  font-size: 1.3rem;
}

.layer-video {
  position: absolute;
  z-index: 3;
  font-size: 3.5rem;
  width: 60%;
  left: 20%;
  top: 60%;
}

.left-side-img-screen3 {
  position: absolute;
  left: -75px;
  top: -200px;
  overflow: hidden;
}

.form-group {
  margin-bottom: 20px !important;
}

label {
  font-size: 0.8rem !important;
}

#email-input-label {
  margin-bottom: -10px;
  width: 350px;
}

input {
  border-radius: 0 !important;
  height: 3.3rem;
}

#receba-informacoes {
  font-size: 3rem;
}

.marca-container {
  height: 100%;
  width: auto;
}

.marca-img {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}

.block-space {
  height: 340px;
  width: 100%;
}

#photo-1 {
  background-image: url(/img/photo-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-2 {
  background-image: url(/img/photo-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-3 {
  background-image: url(/img/photo-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-4 {
  background-image: url(/img/photo-4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-5 {
  background-image: url(/img/photo-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-6 {
  background-image: url(/img/photo-6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-screen10 {
  height: 100%;
  width: 250px;
}

.map-description {
  width: 85%;
  line-height: 1.1rem;
  font-size: 1.1rem;
}

.map-title {
  font-size: 1.7rem;
  line-height: 1.5rem;
  width: 75%;
}

.map-div {
  width: 400px;
  height: 200px;
  bottom: 400px;
  left: 100px;
}

.default-title {
  font-size: 3rem;
}

.blue-bg {
  background-color: #144372;
}

.light-blue-bg {
  background-color: #00aeef;
}

.orange-bg {
  background-color: #f15a29;
}

.border-img {
  border: 1px solid black;
}

#estas-sao-marcas {
  font-size: 2.5rem;
}

.pl-50 {
  padding-left: 50px;
}

.hex-container {
  height: 75%;
  margin: 0;
  padding: 0 0 0 3% !important;
  left: -5%;
}

.container-screen2 {
  margin: 0 !important;
  padding: 0 !important;
}

.background-second-screen {
  background-color: #e7dfd2;
  height: 100vh;
}

.left-side-img-screen2 {
  position: absolute;
  left: -45px;
}

.right-side-img-screen2 {
  position: absolute;
  right: -45px;
  top: 65vh;
}

.banner {
  background-image: url("../img/first-panel-bg.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.white-bg-rounded {
  background-color: #fff;
  border-radius: 15px;
  height: 110px;
  width: 270px;
  align-content: start;
  padding: 2px;
}

.orange-text {
  color: #f15a29;
}

.blue-text {
  color: #144372;
}

.hashtag {
  text-align: center;
  font-size: 1.4rem;
  font-family: exoBoldItalic;
  letter-spacing: 0.1rem;
}

.logo-banner {
  width: 40%;
}

.timer-display {
  font-size: 3.4rem;
  text-align: center;
}

.screen2-title-display {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 25px;
}

.banner2 {
  background-color: rebeccapurple;
}
.orange-column {
  position: relative;
  left: 10%;
}

.blue-column {
  position: relative;
  left: 22%;
  bottom: 20%;
}

#simule-credito h2 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  width: 70%;
  position: relative;
  left: -5px;
  top: 55px;
}

#simule-credito .hex-small {
  bottom: 30%;
  left: 55%;
}

#avaliamos-receber h2 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  width: 70%;
  position: relative;
  left: -5px;
  top: 55px;
}

#avaliamos-receber .hex-small {
  bottom: 25%;
  left: 32%;
}

#condicoes-especiais h2 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  width: 50%;
  position: relative;
  left: -10px;
  top: 50px;
}

#condicoes-especiais .hex-small {
  bottom: 30%;
  left: 10%;
}

#imoveis-prontos h2 {
  text-align: end;
  font-size: 1.3rem;
  line-height: 1.6rem;
  width: 50%;
  position: relative;
  left: -15px;
  top: 35px;
}

#imoveis-prontos .hex-small {
  bottom: 110%;
  left: 5%;
}

#taxas-juros .hex-small {
  bottom: 115%;
  left: 30%;
}

#taxas-juros h2 {
  text-align: end;
  font-size: 1.3rem;
  line-height: 1.6rem;
  width: 45%;
  position: relative;
  left: -20px;
  top: 50px;
}

#use-fgts .hex-small {
  bottom: 115%;
  left: 55%;
}

#use-fgts h2 {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8rem;
  width: 40%;
  position: relative;
  left: -10px;
  top: 50px;
}

.hex {
  height: 200px;
  width: auto;
  padding: 12px;
}

.hex-mid {
  width: 200px;
  height: 100%;
}

.hex-small {
  height: 60px;
  width: 180px;
}

.blue-hex-small {
  background-image: url(../img/sec-blue-hex-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.blue-hex {
  background-image: url(../img/blue-hex-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.orange-hex-small {
  background-image: url(../img/sec-orange-hex-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.orange-hex {
  background-image: url(../img/orange-hex-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.moving-circle {
  height: 110px;
  width: 110px;
  background-color: #f15a29;
  border-radius: 50%;
  position: absolute;
  right: 28%;
  z-index: 1;
}

.circle {
  height: 110px;
  width: 110px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  right: 28%;
  z-index: 1;
}

.days-left {
  padding: 0.4rem;
  height: 100%;
}

.img-container {
  justify-content: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  position: relative;
  bottom: -22px;
  overflow: hidden;
}

/* BUILDING BLOCK DISPLAY */

.building-block-display {
  background-color: #e7dfd2;
  height: 200px;
  width: 350px;
}

.active-circle {
  color: #f15a29;
}

.inactive-circle {
  color: #ffc9b5;
}

.building-img {
  height: 100%;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.building-realstate-logo-container {
  height: 45px;
  width: 100%;
}

.building-info {
  width: 150px;
}
.schedule-visit-btn {
  padding-top: 2%;
  margin-top: 5%;
  background-color: #736458;
  border-radius: 0 !important;
  font-size: 0.8rem !important;
  height: 15%;
  border: none;
}

.building-realstate-img {
  background-image: url(../img/logos/mota-machado-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.building-title {
  margin-top: 5%;

  line-height: 1rem;
  font-size: 1rem;
  width: 40%;
}

.building-description {
  margin-top: 5%;
  line-height: 0.6rem;
  font-size: 0.7rem;
}

/* Building block display end*/

/* BUILDING BLOCK BIG */

.building-block-big {
  background-color: #e7dfd2;
  height: 100%;
  width: 80%;
}

.screen10-bg {
  background-image: url(/img/banner-gallery-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.building-realstate-logo-container-big {
  height: 200px;
  width: 100%;
}

.building-realstate-img-big {
  background-image: url(../img/logos/mota-machado-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.building-title-big {
  margin-top: 5%;
  margin-left: 5%;
  line-height: 2.4rem;
  font-size: 2.3rem;
  width: 40%;
}

.building-description-big {
  margin-top: 5%;
  margin-left: 5%;

  line-height: 1.6rem;
  font-size: 1.7rem;
}

.building-img-big {
  height: 100%;
  width: 50%;
  background-color: orange;
}

.testimonial-text {
  line-height: 1.2rem;
  font-size: 1rem;
}

.testimonial-author {
  line-height: 0.8rem;
  font-size: 0.8rem;
  width: 65%;
}

.building-realstate-logo-container-big {
  height: 200px;
  width: 100%;
}

.btn-left {
  left: -95px;
  top: 150px;
}

.btn-right {
  right: -95px;
  top: 150px;
}

.building-info-big {
  width: 55%;
  padding: 0 10%;
}
.schedule-visit-btn-big {
  padding-top: 2%;
  background-color: #736458;
  border-radius: 0 !important;
  font-size: 0.8rem !important;
  height: 15%;
  border: none;
  margin: 5% 0 5% 5%;
}

.blue-border {
  border: 4px solid #144372;
}

/* Building block BIG end*/

.screen3-title-display {
  font-size: 2.5rem;
  line-height: 2.4rem;
}

.orange-round-box {
  background-color: #f15a29;
}

@media screen and (max-width: 769px) {
  #title-banner1 {
    font-size: 2.5rem !important;
    margin-top: 25%;
    margin-bottom: 5%;
  }

  #days-missing {
    width: 65%;
  }

  .white-bg-rounded {
    background-color: #fff;
    border-radius: 15px;
    height: 110px;
    width: 55%;
    align-content: start;
    padding: 2px;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  #title-banner1 h2 {
    line-height: 0.2rem !important;
    font-size: 0.3rem !important;
  }

  #days-missing span {
    font-size: 1.9rem !important;
  }

  .background-second-screen {
    height: 300vh;
  }
}

@media screen and (max-width: 480px) {
  .timer-display {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
  }

  .screen2-title-display {
    font-size: 2rem !important;
  }
  .default-title {
    font-size: 2rem !important;
  }

  .building-block-big {
    height: 300px;
  }

  .background-second-screen {
    height: 200vh;
  }

  .blue-column {
    position: relative;
    left: 10%;
    bottom: 0;
  }

  .banner {
    background-position: 28% 0;
  }

  .logo-banner {
    width: 35%;
  }

  #title-banner1 {
    font-size: 2.1rem !important;
    line-height: 2.3rem !important;
    margin-top: 5% !important;
    padding-top: 5%;
    margin-bottom: 10%;
  }

  #days-missing {
    width: 65%;
    font-size: 2rem !important;
  }

  #days-missing span {
    font-size: 1.9rem !important;
  }

  .white-bg-rounded {
    background-color: #fff;
    border-radius: 15px;
    height: 110px;
    width: 70%;
    align-content: start;
    padding: 2px;
    margin-bottom: 2%;
  }

  .moving-circle {
    right: 18%;
  }

  .circle {
    right: 18%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .blue-column {
    top: -75%;
  }
  #title-banner1 {
    margin-top: 0 !important;
    padding-top: 15%;
  }
}

#title-banner1 {
  width: 55%;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
#days-missing {
  font-size: 2.6rem;
  height: 100%;
  line-height: 2.8rem;
}

#days-missing span {
  font-size: 2.8rem;
}

/* Fonts */

.exo {
  font-family: exo;
}
.exoItalic {
  font-family: exoItalic;
}
.exoBoldItalic {
  font-family: exoBoldItalic;
}
.myriadPro {
  font-family: myriadPro;
}
.myriadProBold {
  font-family: myriadProBold;
}

@font-face {
  font-family: exo;
  src: url("../fonts/Exo2-Regular.otf");
}

@font-face {
  font-family: exoItalic;
  src: url("../fonts/Exo2-Italic.otf");
}

@font-face {
  font-family: exoBoldItalic;
  src: url("../fonts/Exo-Bold-Italic.otf");
}

@font-face {
  font-family: myriadPro;
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: myriadProBold;
  src: url("../fonts/MyriadPro-Bold.otf");
}
