body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.screen4-background {
  background-color: #f15a29;
}

.btn-accent-color {
  background-color: #02a5e0 !important;
}

#map iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

#mc-embedded-subscribe {
  height: 3.3rem;
  width: 395px;
  text-align: center;
  border: none;
  align-content: center;
  border-radius: 10px;
  font-size: 1.3rem;
}

.layer-video {
  position: absolute;
  z-index: 3;
  font-size: 3.5rem;
  width: 60%;
  left: 20%;
  top: 60%;
}

.left-side-img-screen3 {
  position: absolute;
  left: -75px;
  top: -200px;
  overflow: hidden;
}

.mc-field-group {
  width: 350px !important;
}

label {
  font-size: 0.8rem !important;
}

.input-label {
  margin-bottom: -10px;
  width: 395px !important;
}

#receba-informacoes {
  font-size: 3rem;
}

.marca-container {
  height: 100%;
  width: auto;
}

.marca-img {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}

.block-space {
  height: 340px;
  width: 100%;
}

#photo-1 {
  background-image: url("../img/photo-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-2 {
  background-image: url("../img/photo-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-3 {
  background-image: url("../img/photo-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-4 {
  background-image: url("../img/photo-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-5 {
  background-image: url("../img/photo-5.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#photo-6 {
  background-image: url("../img/photo-6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-screen10 {
  height: 100%;
  width: 250px;
}

.map-description {
  width: 85%;
  line-height: 1.1rem;
  font-size: 1.1rem;
}

.map-title {
  font-size: 1.7rem;
  line-height: 1.5rem;
  width: 75%;
}

.map-div {
  width: 400px;
  height: 200px;
  bottom: 50%;
  left: 100px;
}

#go-to-list-btn {
  border-radius: 15px !important;
}

.secondary-title {
  font-size: 2rem;
}

.default-title {
  font-size: 3rem;
}

.blue-bg {
  background-color: #144372;
}

.light-blue-bg {
  background-color: #00aeef;
}

.orange-bg {
  background-color: #f15a29;
}

.bright-orange-bg {
  background-image: linear-gradient(to bottom right, #ff7900, #ff7800);
}

.border-img {
  border: 1px solid black;
}

#estas-sao-marcas {
  font-size: 2.5rem;
}

.pl-50 {
  padding-left: 50px;
}

.hex-container {
  margin: 0;
  padding: 0 0 0 3% !important;
  left: -5%;
}

.container-screen2 {
  margin: 0 !important;
  padding: 0 !important;
}

.background-second-screen {
  background-color: #e7dfd2;
}

.left-side-img-screen2 {
  position: absolute;
  left: -45px;
}

.right-side-img-screen2 {
  position: absolute;
  right: -45px;
  top: 65vh;
}

.banner {
  background-image: url("../img/first-panel-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.orange-text {
  color: #f15a29;
}

.blue-text {
  color: #144372;
}

.hashtag {
  text-align: center;
  font-size: 1.4rem;
  font-family: exoBoldItalic;
  letter-spacing: 0.1rem;
}

.logo-banner {
  width: 40%;
}

.faded-bg {
  background-color: rgba(0, 0, 0, 0.459);
  position: absolute;
  z-index: 5;
}

.timer-display {
  margin: 0;
  padding: 0 !important;
  font-size: 1.9rem;
}

.banner2 {
  background-color: rebeccapurple;
}
.orange-column {
  left: 10%;
}

.blue-column {
  left: 22%;
  bottom: 100px;
}

#simule-credito h2 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  width: 70%;
  position: relative;
  left: -5px;
  top: 55px;
}

#simule-credito .hex-small {
  bottom: 30%;
  left: 55%;
}

#avaliamos-receber h2 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  width: 70%;
  position: relative;
  left: -5px;
  top: 55px;
}

#avaliamos-receber {
  left: 10px;
}

#avaliamos-receber .hex-small {
  bottom: 25%;
  left: 32%;
}

#condicoes-especiais {
  left: 25px;
}

#faltam {
  top: 10px !important;
  transform: translateX(100%) !important;
  bottom: 0px !important;
}

#condicoes-especiais h2 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  width: 50%;
  position: relative;
  left: -10px;
  top: 50px;
}

#condicoes-especiais .hex-small {
  bottom: 30%;
  left: 10%;
}

#imoveis-prontos h2 {
  text-align: end;
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 70%;
  position: relative;
  left: -5px;
  top: 35px;
}

#imoveis-prontos .hex-small {
  bottom: 110%;
  left: 5%;
}

#taxas-juros .hex-small {
  bottom: 115%;
  left: 30%;
}

#taxas-juros h2 {
  text-align: end;
  font-size: 1.3rem;
  line-height: 1.6rem;
  width: 70%;
  position: relative;
  left: -5px;
  top: 50px;
}

#use-fgts .hex-small {
  bottom: 115%;
  left: 55%;
}

#use-fgts h2 {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8rem;
  width: 40%;
  position: relative;
  left: -10px;
  top: 50px;
}

.hex {
  height: 200px;
  width: auto;
  padding: 12px;
}

.hex-mid {
  width: 200px;
  height: 100%;
}

.hex-small {
  height: 60px;
  width: 180px;
}
.nounderline {
  text-decoration: none !important;
}

.blue-hex-small {
  background-image: url("../img/sec-blue-hex-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.blue-hex {
  background-image: url("../img/blue-hex-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.orange-hex-small {
  background-image: url("../img/sec-orange-hex-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.orange-hex {
  background-image: url("../img/orange-hex-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.days-left {
  padding: 0.4rem;
  height: 100%;
}

.img-container {
  justify-content: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  position: relative;
  bottom: -22px;
  overflow: hidden;
}

/* BUILDING BLOCK DISPLAY */

.building-block-display {
  background-color: #e7dfd2;
  height: 200px;
  width: 350px;
}

.active-circle {
  color: #f15a29;
}

.inactive-circle {
  color: #ffc9b5;
}

.building-img-modal {
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

#title-banner1 {
  width: 68%;
  font-size: 3rem;
  line-height: 3.2rem;
}

.building-img {
  height: 100%;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.building-realstate-logo-container {
  height: 40px;
  width: 100%;
}

.building-info {
  width: 150px;
}

.counter-bg {
  background-image: url("../img/counter-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
}

.pipe {
  background-image: url("../img/cano-contador.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 45%;
  top: 45%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

#mc_embed_signup .button {
  height: 40px !important;
}

.schedule-visit-btn {
  padding-top: 2%;
  margin-top: 3px !important;
  background-color: #736458;
  font-size: 0.8rem !important;
  border: none;
  width: 100% !important;
}

.building-realstate-img {
  background-image: url("../img/logos/mota-machado-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.building-title-modal {
  line-height: 2rem;
  font-size: 2rem;
  width: 40%;
  margin-left: 3%;
  margin-bottom: 15px;
}

.building-description-modal {
  line-height: 1.3rem;
  font-size: 1rem;
  margin-left: 3%;
  margin-bottom: 15px;
}

.building-title {
  margin-top: 5px;
  line-height: 1rem;
  font-size: 0.75rem;
  width: 100%;
}

.building-description {
  margin-top: 5%;
  line-height: 0.75rem;
  font-size: 0.6rem;
}

/* Building block display end*/

/* BUILDING BLOCK BIG */

.building-block-big {
  background-color: #e7dfd2;
  height: 100%;
  width: 80%;
}

.screen10-bg {
  background-image: url("../img/banner-gallery-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.building-realstate-logo-container-big {
  height: 200px;
  width: 100%;
}

.building-realstate-img-big {
  background-image: url("../img/logos/mota-machado-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.building-title-big {
  margin-top: 5%;
  margin-left: 5%;
  line-height: 2.4rem;
  font-size: 2.3rem;
  width: 40%;
}

.building-description-big {
  margin-top: 5%;
  margin-left: 5%;

  line-height: 1.6rem;
  font-size: 1.7rem;
}

.building-img-big {
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-text {
  line-height: 1.2rem;
  font-size: 1rem;
}

.testimonial-author {
  line-height: 0.8rem;
  font-size: 0.8rem;
  width: 65%;
}

.building-realstate-logo-container-big {
  height: 200px;
  width: 100%;
}

#toTop {
  width: 55px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f15a29; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#toTop:hover {
  background-color: #144372; /* Add a dark-grey background on hover */
}

#days-missing p {
  font-size: 1rem;
  margin-bottom: 0;
}

.btn-left {
  left: 30px;
  top: 50%;
  width: 200px;
  transform: translateY(-160%);
}

.btn-modal {
  width: 100% !important;
}

.btn-right {
  right: 30px;
  top: 50%;
  width: 200px;
  transform: translateY(-160%);
}

.building-info-big {
  width: 50%;
  padding: 0 10%;
}
.schedule-visit-btn-big {
  padding-top: 2%;
  background-color: #736458;
  border-radius: 0 !important;
  font-size: 1.3rem !important;
  height: 15%;
  border: none;
  margin: 5% 0 5% 5%;
}

.blue-border {
  border: 4px solid #144372;
}

/* Building block BIG end*/

/* Mobile Screens */

#mobile-hashtag {
  position: absolute;
  font-size: 1.3rem;
  right: 10px;
}

#juridicamente-id {
  font-size: 1rem;
}

/* Mobile Screens*/

.modal-dialog {
  max-width: 85% !important;
  background-color: #e7dfd2;
}

.modal-body {
  height: 650px !important;
}

.secondary-bg {
  background-color: #e7dfd2;
}

.orange-round-box {
  background-color: #f15a29;
}

.subscribe-visit-btn {
  width: 350px !important;
  margin-top: 38px !important;
}

.horizontal-scroll {
  overflow-x: none;
  white-space: wrap;
}

@media screen and (max-width: 320px) {
  #title-banner1 {
    font-size: 1.1rem !important;
    line-height: 1.2rem !important;
    width: 65% !important;
    margin-right: 20px !important;
  }
  .pipe {
    width: 88%;
    top: 45%;
    height: 100%;
  }
}

@media screen and (max-width: 340px) {
  .pipe {
    width: 88% !important;
  }
}

@media screen and (max-width: 360px) {
  .hex-container {
    margin: 0;
    padding: 0 !important;
  }

  .input-label {
    width: 300px !important;
  }

  .default-title {
    font-size: 1.5rem !important;
  }
  .pipe {
    top: 45%;
    height: 100%;
  }

  .counter-bg p {
    transform: translateX(120%) !important;
    bottom: -4%;
    font-size: 30px !important;
  }

  .form-div-big .mc-field-group,
  .form-div-big .button {
    width: 100% !important;
  }

  .mc-field-group {
    width: 300px !important;
  }

  .title-banner1 {
    width: 95% !important;
    margin-right: 95% !important;
    font-size: 0.2rem !important;
    line-height: 2rem;
  }

  #estas-sao-marcas {
    font-size: 1.5rem;
  }

  .secondary-title {
    font-size: 1rem !important;
  }

  #receba-informacoes {
    font-size: 2rem;
  }

  #mobile-hashtag {
    position: absolute;
    font-size: 1rem;
    right: 10px;
  }

  .hashtag {
    text-align: center;
    font-size: 1rem;
    font-family: exoBoldItalic;
    letter-spacing: 0.1rem;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
    width: 100% !important;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  .banner {
    background-position: 20% 0 !important;
  }

  .building-title {
    margin-top: 5px;
    line-height: 1rem;
    font-size: 0.65rem;
    width: 100%;
  }

  .building-realstate-logo-container {
    height: 25px !important;
    width: 100%;
  }

  .building-block-display {
    background-color: #e7dfd2;
    height: 180px !important;
    width: 300px !important;
  }
}

#mc-embedded-subscribe-form {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .timer-display {
    font-size: 1.3rem;
    text-align: start;
  }

  .counter-bg h2 {
    transform: translateX(-20%);
  }

  .mc-field-group {
    width: 280px !important;
  }

  .subscribe-visit-btn {
    width: 280px !important;
    margin-top: 38px !important;
  }

  .building-description {
    margin-top: 5px;
    line-height: 0.55rem;
    font-size: 0.5rem;
  }

  .pipe {
    width: 200px !important;
    top: 45%;
    height: 100%;
  }

  .schedule-visit-btn {
    padding-top: 2%;
    margin-top: 5%;
    padding-bottom: 2% !important;
    margin-bottom: 5% !important;
    background-color: #736458;
    font-size: 0.8rem !important;
    height: 35px !important;
    text-align: center;
    width: 100% !important;
    vertical-align: middle;
    border: none;
  }

  #map .embed-responsive {
    pointer-events: none;
    width: 100%;
    height: 350px !important;
  }

  .building-img-modal {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-body {
    height: 890px !important;
    background-color: #e7dfd2;
  }

  .modal-dialog {
    max-width: 100% !important;
    background-color: #e7dfd2;
  }

  .map .embed-responsive {
    height: 300px !important;
  }

  .horizontal-scroll {
    overflow-x: auto;
    white-space: wrap;
  }

  .default-title {
    font-size: 2rem;
  }

  .building-block-big {
    height: 300px;
  }

  .blue-column {
    position: relative;
    left: 10%;
    bottom: 0;
  }

  .banner {
    background-position: 0 0;
  }

  .logo-banner {
    width: 35%;
  }

  #title-banner1 {
    font-size: 1.2rem !important;
    line-height: 1.8rem !important;
    margin-top: 2% !important;
    width: 76% !important;
    padding-top: 5%;
    margin-bottom: 10%;
  }

  #mc-embedded-subscribe {
    width: 300px;
  }

  .secondary-title {
    font-size: 0.65rem !important;
  }

  #days-missing {
    font-size: 8rem !important;
    margin-bottom: 0;
  }

  #days-missing p {
    font-size: 3rem !important;
  }
}

.mc-field-group,
.subscribe-visit-btn {
  width: 100% !important;
}

@media (min-width: 1366px) and (max-width: 4200px) {
  .pipe {
    width: 200px;
  }
}

@media (min-width: 500px) and (max-width: 530px) {
  .pipe {
    width: 200px;
  }
  .counter-bg h2 {
    transform: translateX(-29%);
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  .pipe {
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .blue-column {
    top: -75%;
  }
  .counter-bg h2 {
    transform: translateX(-22%);
  }
  .pipe {
    width: 200px !important;
  }
}

@media screen and (max-width: 769px) {
  #days-missing {
    width: 100%;
  }
}

#days-missing {
  font-size: 9rem;
  text-align: center;
  top: 12%;
}

.counter-bg p {
  transform: translateX(120%);
  bottom: -4%;
  font-size: 30px;
}

.counter-bg #faltam {
  top: 4% !important;
  font-size: 1.3rem;
  bottom: 0px !important;
}

#days-missing p {
  margin-bottom: 0 !important;
}

.yellow-text {
  color: yellow;
}

.pipe {
  width: 200 !important;
}

/* Fonts */

.title-enphasis {
  font-size: 1.4rem;
}

.accent-title {
  font-size: 1.5rem;
}

.exo {
  font-family: "Exo 2";
}
.exoBold {
  font-family: "Exo 2";
  font-weight: 900;
}

.exoItalic {
  font-family: "Exo 2";
  font-style: italic;
}
.exoBoldItalic {
  font-family: exoBoldItalic;
}
.myriadPro {
  font-family: myriadPro;
}
.myriadProBold {
  font-family: myriadProBold;
}

@font-face {
  font-family: exoBoldItalic;
  src: url("../fonts/Exo-Bold-Italic.otf");
}

@font-face {
  font-family: myriadPro;
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: myriadProBold;
  src: url("../fonts/MyriadPro-Bold.otf");
}
